html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

:root {
  padding: 0;
  margin: 0;
  --main-color: #222222;
  --soft-color: #575757;
  --softest-color: #6a6a6a;
  --secondary-color: #ff8e15;
  --background-color: white;
  -webkit-tap-highlight-color: transparent;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wavyLines {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  mix-blend-mode: soft-light;
  background: url("assets/background.jpg");
  background-size: cover;
  opacity: 0.5;
}

.loginPage {
  background-color: #ff9700;
  background-image: linear-gradient(
    43deg,
    #ff9700 0%,
    #ff9c5f 46%,
    #ffd896 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
}

.loginContainer {
  width: 400px;
  height: 450px;
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: solid rgb(255, 255, 255, 0.2) 2px;
  transition: background-color 50ms ease-in-out;
}

.loginContainer:hover {
  background: rgba(255, 255, 255, 0.4);
}

.hiiliLogo {
  background-image: url(assets/hiiliCroppedWhite.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100px;
  top: 20px;
  left: 30px;
  height: 100px;
  position: absolute;
}

.uc3mLogo {
  background-image: url(assets/uc3mWhite.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100px;
  top: 20px;
  right: 30px;
  height: 100px;
  position: absolute;
}

.userField {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginTitle {
  font-size: 24px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.contentBox {
  margin: auto;
  width: 80%;
  font-size: 16px;
  inset: 0;
  position: absolute;
  height: fit-content;
}
.inputField {
  padding: 5px 10px 5px 10px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  background: transparent;
}

.inputField:focus-visible {
  border: none;
  outline: none;
}

.inputField:active {
  border: none;
}

.inputBox:has(.inputField:focus-visible) {
  color: var(--secondary-color);
}

.inputContainer:has(.inputField:focus-visible) .inputLine::after {
  width: 100%;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

::placeholder {
  color: rgb(0, 0, 0, 0.2);
}

input:focus::placeholder {
  color: transparent;
}

.inputLine {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: transparent;
  display: block;
  content: "";
  position: relative;
  bottom: 0;
}

.inputLine::before,
.inputLine::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 99px;
  background: rgb(0, 0, 0, 0.2);
  position: absolute;
}

.inputLine::after {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: 99px;
  background: white;
  position: absolute;
  transition: width 200ms ease-in-out;
}

.inputContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  font-family: "Lato", sans-serif;
  font-weight: 3900;
  font-size: 0.8em;
}

.loginButton {
  margin-top: 20px;
  padding: 15px 30px 15px 30px;
  border-radius: 99px;
  border: none;
  background: var(--secondary-color);
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1em;
  background: rgb(255, 183, 37);
  background: linear-gradient(
    157deg,
    rgba(255, 183, 37, 1) 0%,
    rgba(255, 72, 27, 1) 100%
  );
  transition: all 100ms ease-in-out;
}

.loginButton:hover {
  filter: brightness(1.1);
}

.forgotPassword {
  position: relative;
  place-self: flex-end;
  right: 0;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--secondary-color);
}

.bottomSectionWrapper {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.bottomSectionWrapper > * {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--main-color);
}

#emailBox input:-webkit-autofill {
  background-color: transparent !important;
}

#passwordBox input:-webkit-autofill {
  background-color: transparent !important;
}
